In [1]:
# Importing Libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving dataset_small.csv to dataset_small.csv

In [8]:
dataset = pd.read_csv("dataset_small.csv")

In [9]:
dataset

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
0,2,0,0,0,0,0,0,0,0,0,...,1,4,2,3598,0,0,0,0,0,0
1,4,0,0,2,0,0,0,0,0,0,...,1,4,1,3977,1,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,1,2,1,10788,0,0,0,0,0,0
3,2,0,0,3,0,0,0,0,0,0,...,1,2,1,14339,1,0,0,0,0,1
4,1,1,0,4,0,0,0,0,0,0,...,1,2,1,389,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,1,0,0,5,0,1,0,0,0,0,...,1,2,2,563,0,0,0,0,0,1
58641,2,0,0,0,0,0,0,0,0,0,...,1,4,0,122,1,0,0,0,0,0
58642,5,6,3,6,0,2,1,1,0,0,...,1,2,1,1122,0,0,0,0,0,1
58643,2,0,0,0,0,0,0,0,0,0,...,5,2,5,299,1,1,0,0,0,0
58644,2,0,0,3,0,0,0,0,0,0,...,1,2,1,3361,1,0,0,0,0,0

In [6]:
dataset.describe()

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
count,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,...,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000
mean,2.284338,0.457123,0.171285,1.937522,0.014102,0.311177,0.033456,0.212959,0.004451,0.001535,...,1.110666,2.829619,1.630113,5056.676272,0.501373,0.303419,0.001279,0.002234,0.008287,0.522585
std,1.473209,1.339340,0.801919,2.037525,0.138156,1.159198,0.343272,1.130323,0.107352,0.089320,...,0.912962,1.377018,1.719554,7102.853538,0.500002,0.815315,0.037599,0.047927,0.090657,0.499494
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,288.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,1191.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,4.000000,2.000000,9866.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,24.000000,35.000000,21.000000,44.000000,9.000000,23.000000,43.000000,26.000000,10.000000,9.000000,...,24.000000,16.000000,20.000000,86400.000000,1.000000,17.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
dataset.isnull().sum()

qty_dot_url             0
qty_hyphen_url          0
qty_underline_url       0
qty_slash_url           0
qty_questionmark_url    0
                       ..
qty_redirects           0
url_google_index        0
domain_google_index     0
url_shortened           0
phishing                0
Length: 112, dtype: int64

In [11]:
#length of dataset before dropping duplicate rows
lengthbeforedropping=len(dataset)
lengthbeforedropping

58645

In [12]:
#length of dataset after dropping duplicate rows
dataset.drop_duplicates(keep=False,inplace=True)
lengthafterdropping=len(dataset)
lengthafterdropping

56992

In [14]:
#Duplicate Rows
duplicaterows=lengthbeforedropping-lengthafterdropping
duplicaterows

1653

In [27]:
#Replacing the value -1 with Nan and then deleting those rows

#Finding rows which contain the value -1
dataset.isin(['-1']).count()

qty_dot_url             56992
qty_hyphen_url          56992
qty_underline_url       56992
qty_slash_url           56992
qty_questionmark_url    56992
                        ...
qty_redirects           56992
url_google_index        56992
domain_google_index     56992
url_shortened           56992
phishing                56992
Length: 112, dtype: int64

In [28]:
#All the rows have the value -1 in atleast one of the columns, so lets remove the rows which have the maximum number of -1

In [37]:
#Finding columns which have -1 
dataset.columns[dataset.isin([-1]).any()]

Index(['qty_dot_directory', 'qty_hyphen_directory', 'qty_underline_directory',
       'qty_slash_directory', 'qty_questionmark_directory',
       'qty_equal_directory', 'qty_at_directory', 'qty_and_directory',
       'qty_exclamation_directory', 'qty_space_directory',
       'qty_tilde_directory', 'qty_comma_directory', 'qty_plus_directory',
       'qty_asterisk_directory', 'qty_hashtag_directory',
       'qty_dollar_directory', 'qty_percent_directory', 'directory_length',
       'qty_dot_file', 'qty_hyphen_file', 'qty_underline_file',
       'qty_slash_file', 'qty_questionmark_file', 'qty_equal_file',
       'qty_at_file', 'qty_and_file', 'qty_exclamation_file', 'qty_space_file',
       'qty_tilde_file', 'qty_comma_file', 'qty_plus_file',
       'qty_asterisk_file', 'qty_hashtag_file', 'qty_dollar_file',
       'qty_percent_file', 'file_length', 'qty_dot_params',
       'qty_hyphen_params', 'qty_underline_params', 'qty_slash_params',
       'qty_questionmark_params', 'qty_equal_params', 'qty_at_params',
       'qty_and_params', 'qty_exclamation_params', 'qty_space_params',
       'qty_tilde_params', 'qty_comma_params', 'qty_plus_params',
       'qty_asterisk_params', 'qty_hashtag_params', 'qty_dollar_params',
       'qty_percent_params', 'params_length', 'tld_present_params',
       'qty_params', 'time_response', 'domain_spf', 'asn_ip',
       'time_domain_activation', 'time_domain_expiration', 'qty_ip_resolved',
       'ttl_hostname', 'qty_redirects', 'url_google_index',
       'domain_google_index'],
      dtype='object')

In [38]:
# Data distribution of the features
cols={} 
for i in dataset.columns:
    print("- - - - - New Column Here- - - - - - - ")
    x=dataset[i].value_counts(normalize=True)
    print(x)
    if dataset[i].isin([-1]).any():
        cols[i]=x[-1]

- - - - - New Column Here- - - - - - -
2     0.501667
1     0.220294
3     0.178604
4     0.059587
5     0.017423
6     0.007896
7     0.003737
14    0.002334
8     0.001807
15    0.001509
9     0.001088
10    0.000842
16    0.000772
13    0.000649
12    0.000579
11    0.000561
17    0.000386
18    0.000105
22    0.000053
20    0.000053
24    0.000018
23    0.000018
19    0.000018
Name: qty_dot_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.766143
1     0.151916
2     0.037812
3     0.015142
4     0.008773
5     0.006089
6     0.003772
7     0.002720
8     0.001913
9     0.001316
10    0.001281
11    0.000930
12    0.000649
13    0.000439
14    0.000228
15    0.000175
17    0.000140
16    0.000088
21    0.000088
18    0.000070
19    0.000053
20    0.000053
31    0.000035
26    0.000035
23    0.000035
25    0.000035
24    0.000018
27    0.000018
35    0.000018
34    0.000018
Name: qty_hyphen_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.907741
1     0.057148
2     0.018125
3     0.008194
4     0.003544
5     0.001667
7     0.000772
6     0.000702
8     0.000456
9     0.000316
17    0.000298
11    0.000263
10    0.000246
12    0.000140
13    0.000105
19    0.000088
14    0.000070
21    0.000035
16    0.000035
15    0.000018
20    0.000018
18    0.000018
Name: qty_underline_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.284672
1     0.235735
3     0.146214
2     0.140055
4     0.080853
5     0.052077
6     0.028688
7     0.015458
8     0.007141
9     0.004053
10    0.001825
12    0.001316
11    0.001053
16    0.000263
13    0.000228
14    0.000105
17    0.000070
15    0.000053
19    0.000035
20    0.000018
21    0.000018
29    0.000018
22    0.000018
18    0.000018
44    0.000018
Name: qty_slash_url, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.987647
1    0.011370
2    0.000877
3    0.000053
9    0.000035
7    0.000018
Name: qty_questionmark_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.874193
1     0.060710
3     0.022354
2     0.021512
6     0.005352
4     0.004544
5     0.003000
7     0.002053
11    0.001913
9     0.001579
10    0.001141
8     0.000860
12    0.000298
13    0.000228
14    0.000140
17    0.000035
16    0.000035
15    0.000018
23    0.000018
20    0.000018
Name: qty_equal_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.970347
1     0.028794
2     0.000351
4     0.000123
3     0.000105
5     0.000053
43    0.000035
6     0.000035
10    0.000035
15    0.000035
7     0.000018
14    0.000018
8     0.000018
11    0.000018
12    0.000018
Name: qty_at_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.934693
2     0.022179
1     0.020354
3     0.004439
5     0.004422
10    0.003106
4     0.002386
9     0.002176
6     0.002018
8     0.001316
12    0.000807
11    0.000772
7     0.000632
13    0.000351
15    0.000105
14    0.000070
19    0.000053
26    0.000035
16    0.000035
17    0.000035
22    0.000018
Name: qty_and_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.996614
1     0.002930
2     0.000281
5     0.000035
3     0.000035
9     0.000035
10    0.000018
8     0.000018
4     0.000018
6     0.000018
Name: qty_exclamation_url, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.999403
1    0.000351
2    0.000053
9    0.000053
3    0.000053
7    0.000035
4    0.000035
6    0.000018
Name: qty_space_url, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.996192
1    0.003281
3    0.000298
5    0.000105
2    0.000088
4    0.000035
Name: qty_tilde_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.998842
1     0.000877
3     0.000158
2     0.000035
4     0.000035
7     0.000018
5     0.000018
11    0.000018
Name: qty_comma_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.997842
1     0.001456
2     0.000298
3     0.000123
4     0.000088
6     0.000070
5     0.000053
9     0.000035
19    0.000018
7     0.000018
Name: qty_plus_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.998965
1     0.000316
2     0.000193
4     0.000105
20    0.000053
9     0.000053
14    0.000053
3     0.000053
22    0.000035
8     0.000035
19    0.000018
10    0.000018
6     0.000018
21    0.000018
5     0.000018
7     0.000018
60    0.000018
12    0.000018
Name: qty_asterisk_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.999807
1     0.000053
3     0.000053
2     0.000035
9     0.000018
7     0.000018
13    0.000018
Name: qty_hashtag_url, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.999052
1     0.000386
3     0.000211
4     0.000088
2     0.000070
10    0.000053
5     0.000053
6     0.000035
8     0.000035
9     0.000018
Name: qty_dollar_url, dtype: float64
- - - - - New Column Here- - - - - - -
0      0.973944
1      0.010651
2      0.003492
3      0.001509
4      0.001456
5      0.001439
6      0.001141
9      0.000737
8      0.000649
10     0.000456
12     0.000456
16     0.000439
18     0.000368
7      0.000333
14     0.000298
20     0.000298
28     0.000228
22     0.000228
15     0.000211
32     0.000140
17     0.000105
26     0.000105
19     0.000105
13     0.000105
21     0.000105
24     0.000088
51     0.000088
34     0.000088
11     0.000070
62     0.000053
23     0.000053
27     0.000053
36     0.000053
38     0.000053
30     0.000035
66     0.000035
78     0.000035
29     0.000035
44     0.000035
48     0.000018
46     0.000018
39     0.000018
65     0.000018
174    0.000018
40     0.000018
117    0.000018
162    0.000018
54     0.000018
127    0.000018
35     0.000018
52     0.000018
42     0.000018
Name: qty_percent_url, dtype: float64
- - - - - New Column Here- - - - - - -
1     0.931096
2     0.057938
3     0.006176
0     0.003755
4     0.000895
5     0.000070
7     0.000035
9     0.000018
12    0.000018
Name: qty_tld_url, dtype: float64
- - - - - New Column Here- - - - - - -
16     0.035408
17     0.035338
15     0.035058
14     0.034584
18     0.032934
         ...
338    0.000018
763    0.000018
841    0.000018
523    0.000018
720    0.000018
Name: length_url, Length: 453, dtype: float64
- - - - - New Column Here- - - - - - -
2     0.538795
1     0.349031
3     0.082099
4     0.025530
5     0.001597
0     0.001158
6     0.000404
7     0.000386
10    0.000263
9     0.000193
8     0.000140
12    0.000105
15    0.000070
14    0.000070
11    0.000053
17    0.000035
13    0.000035
19    0.000018
21    0.000018
Name: qty_dot_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0     0.895389
1     0.086152
2     0.012388
3     0.003123
4     0.001755
5     0.000614
6     0.000386
7     0.000070
11    0.000053
10    0.000035
8     0.000018
9     0.000018
Name: qty_hyphen_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.999754
1    0.000193
2    0.000053
Name: qty_underline_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_slash_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_questionmark_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_equal_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.999982
1    0.000018
Name: qty_at_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_and_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_exclamation_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_space_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_tilde_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_comma_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_plus_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_asterisk_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_hashtag_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_dollar_domain, dtype: float64
- - - - - New Column Here- - - - - - -
0    1.0
Name: qty_percent_domain, dtype: float64
- - - - - New Column Here- - - - - - -
5     0.174656
4     0.161953
6     0.159373
3     0.118069
7     0.102085
8     0.068378
2     0.056920
9     0.048884
1     0.033706
10    0.025653
11    0.017441
0     0.010194
12    0.008001
13    0.005001
14    0.003720
15    0.001614
16    0.000965
17    0.000667
19    0.000579
20    0.000456
18    0.000439
22    0.000351
21    0.000193
23    0.000105
28    0.000088
35    0.000088
24    0.000053
26    0.000053
33    0.000035
31    0.000035
27    0.000035
25    0.000035
39    0.000018
61    0.000018
44    0.000018
48    0.000018
53    0.000018
38    0.000018
29    0.000018
41    0.000018
50    0.000018
36    0.000018
Name: qty_vowels_domain, dtype: float64
- - - - - New Column Here- - - - - - -
16     0.105208
15     0.072449
14     0.071150
17     0.065922
18     0.060886
         ...
93     0.000018
113    0.000018
69     0.000018
150    0.000018
142    0.000018
Name: domain_length, Length: 94, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.996701
1    0.003299
Name: domain_in_ip, dtype: float64
- - - - - New Column Here- - - - - - -
0    0.996403
1    0.003597
Name: server_client_domain, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.450449
-1     0.284672
 1     0.231506
 2     0.019705
 3     0.007054
 4     0.003334
 5     0.001597
 6     0.000561
 7     0.000561
 10    0.000193
 8     0.000140
 11    0.000088
 9     0.000053
 19    0.000035
 15    0.000035
 13    0.000018
Name: qty_dot_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.586082
-1     0.284672
 1     0.085012
 2     0.018090
 3     0.007457
 4     0.004527
 5     0.004018
 6     0.002316
 7     0.002053
 8     0.001439
 9     0.001281
 10    0.000983
 11    0.000737
 12    0.000421
 13    0.000316
 14    0.000140
 15    0.000123
 16    0.000070
 17    0.000070
 18    0.000053
 21    0.000053
 23    0.000035
 20    0.000035
 19    0.000018
Name: qty_hyphen_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.658320
-1     0.284672
 1     0.039778
 2     0.010756
 3     0.003404
 4     0.001351
 5     0.000684
 7     0.000246
 6     0.000228
 8     0.000105
 9     0.000105
 13    0.000088
 11    0.000070
 12    0.000053
 10    0.000053
 14    0.000035
 17    0.000035
 16    0.000018
Name: qty_underline_directory, dtype: float64
- - - - - New Column Here- - - - - - -
-1     0.284672
 1     0.241525
 3     0.146740
 2     0.141581
 4     0.079906
 5     0.051305
 6     0.027285
 7     0.013704
 8     0.006176
 9     0.003351
 10    0.001649
 11    0.000842
 12    0.000772
 13    0.000193
 16    0.000175
 15    0.000035
 14    0.000035
 20    0.000018
 21    0.000018
 22    0.000018
Name: qty_slash_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715328
-1    0.284672
Name: qty_questionmark_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.706854
-1    0.284672
 1    0.006773
 2    0.001281
 3    0.000298
 4    0.000088
 5    0.000035
Name: qty_equal_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.713083
-1     0.284672
 1     0.001790
 2     0.000123
 3     0.000105
 4     0.000070
 43    0.000035
 5     0.000035
 6     0.000018
 11    0.000018
 12    0.000018
 15    0.000018
 10    0.000018
Name: qty_at_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.711521
-1     0.284672
 1     0.003316
 2     0.000123
 3     0.000088
 5     0.000053
 4     0.000053
 26    0.000035
 7     0.000035
 17    0.000035
 11    0.000018
 19    0.000018
 13    0.000018
 12    0.000018
Name: qty_and_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.713398
-1    0.284672
 1    0.001684
 2    0.000140
 5    0.000035
 4    0.000018
 6    0.000018
 3    0.000018
 9    0.000018
Name: qty_exclamation_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.714907
-1    0.284672
 1    0.000228
 9    0.000053
 3    0.000053
 2    0.000035
 7    0.000018
 6    0.000018
 4    0.000018
Name: qty_space_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.711609
-1    0.284672
 1    0.003193
 3    0.000298
 5    0.000105
 2    0.000088
 4    0.000035
Name: qty_tilde_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.714837
-1    0.284672
 1    0.000386
 3    0.000088
 5    0.000018
Name: qty_comma_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.714749
-1     0.284672
 1     0.000316
 3     0.000070
 2     0.000070
 9     0.000035
 4     0.000035
 19    0.000018
 5     0.000018
 7     0.000018
Name: qty_plus_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.714504
-1     0.284672
 1     0.000281
 2     0.000193
 4     0.000070
 20    0.000053
 14    0.000053
 22    0.000035
 60    0.000018
 7     0.000018
 5     0.000018
 19    0.000018
 6     0.000018
 10    0.000018
 9     0.000018
 12    0.000018
Name: qty_asterisk_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715328
-1    0.284672
Name: qty_hashtag_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.714820
-1     0.284672
 1     0.000175
 10    0.000053
 4     0.000053
 5     0.000053
 2     0.000053
 6     0.000035
 3     0.000035
 8     0.000035
 9     0.000018
Name: qty_dollar_directory, dtype: float64
- - - - - New Column Here- - - - - - -
 0      0.700274
-1      0.284672
 1      0.008387
 2      0.001877
 3      0.001018
 5      0.000702
 6      0.000421
 4      0.000386
 8      0.000263
 16     0.000246
 9      0.000211
 28     0.000175
 7      0.000088
 20     0.000088
 18     0.000088
 12     0.000088
 10     0.000088
 24     0.000088
 22     0.000088
 34     0.000088
 32     0.000088
 15     0.000070
 38     0.000053
 36     0.000035
 66     0.000035
 14     0.000035
 62     0.000035
 44     0.000035
 78     0.000035
 40     0.000018
 29     0.000018
 46     0.000018
 174    0.000018
 48     0.000018
 117    0.000018
 13     0.000018
 162    0.000018
 51     0.000018
 27     0.000018
 127    0.000018
 23     0.000018
 54     0.000018
 42     0.000018
Name: qty_percent_directory, dtype: float64
- - - - - New Column Here- - - - - - -
-1      0.284672
 1      0.152793
 7      0.017125
 18     0.016774
 6      0.016406
          ...
 278    0.000018
 316    0.000018
 301    0.000018
 198    0.000018
 700    0.000018
Name: directory_length, Length: 239, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.468048
-1     0.284672
 1     0.239437
 2     0.005387
 3     0.002088
 4     0.000263
 5     0.000053
 10    0.000018
 7     0.000018
 12    0.000018
Name: qty_dot_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.684622
-1     0.284672
 1     0.015020
 2     0.004229
 3     0.002579
 4     0.002263
 5     0.001948
 6     0.001281
 8     0.000912
 7     0.000737
 9     0.000491
 11    0.000404
 10    0.000298
 13    0.000193
 12    0.000123
 15    0.000053
 21    0.000053
 17    0.000035
 14    0.000035
 16    0.000018
 18    0.000018
 20    0.000018
Name: qty_hyphen_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.694010
-1     0.284672
 1     0.013072
 2     0.005229
 3     0.001369
 4     0.000526
 5     0.000333
 7     0.000175
 6     0.000140
 9     0.000105
 13    0.000088
 8     0.000070
 10    0.000053
 11    0.000035
 14    0.000035
 12    0.000035
 17    0.000035
 16    0.000018
Name: qty_underline_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715328
-1    0.284672
Name: qty_slash_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715328
-1    0.284672
Name: qty_questionmark_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.713363
-1    0.284672
 1    0.001439
 2    0.000456
 3    0.000070
Name: qty_equal_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.714890
-1    0.284672
 1    0.000421
 2    0.000018
Name: qty_at_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.713188
-1    0.284672
 1    0.002088
 2    0.000035
 3    0.000018
Name: qty_and_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.713784
-1    0.284672
 1    0.001509
 4    0.000018
 2    0.000018
Name: qty_exclamation_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715100
-1    0.284672
 1    0.000123
 7    0.000018
 6    0.000018
 3    0.000018
 9    0.000018
 2    0.000018
 4    0.000018
Name: qty_space_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715065
-1    0.284672
 1    0.000123
 2    0.000105
 4    0.000018
 3    0.000018
Name: qty_tilde_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715048
-1    0.284672
 1    0.000175
 3    0.000070
 5    0.000018
 2    0.000018
Name: qty_comma_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.714942
-1     0.284672
 1     0.000211
 3     0.000053
 2     0.000035
 6     0.000018
 19    0.000018
 9     0.000018
 4     0.000018
 5     0.000018
Name: qty_plus_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0     0.715118
-1     0.284672
 1     0.000140
 60    0.000018
 14    0.000018
 2     0.000018
 20    0.000018
Name: qty_asterisk_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715328
-1    0.284672
Name: qty_hashtag_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0    0.715328
-1    0.284672
Name: qty_dollar_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0      0.709398
-1      0.284672
 1      0.001895
 2      0.001035
 5      0.000561
 3      0.000439
 6      0.000228
 16     0.000211
 8      0.000193
 28     0.000175
 4      0.000175
 32     0.000088
 18     0.000088
 22     0.000088
 34     0.000088
 20     0.000070
 12     0.000070
 38     0.000053
 24     0.000053
 44     0.000035
 66     0.000035
 36     0.000035
 10     0.000035
 14     0.000035
 62     0.000035
 40     0.000018
 15     0.000018
 174    0.000018
 48     0.000018
 117    0.000018
 51     0.000018
 7      0.000018
 162    0.000018
 54     0.000018
 13     0.000018
 127    0.000018
 42     0.000018
Name: qty_percent_file, dtype: float64
- - - - - New Column Here- - - - - - -
 0      0.340030
-1      0.284672
 9      0.083784
 10     0.036777
 6      0.023091
          ...
 500    0.000018
 147    0.000018
 840    0.000018
 91     0.000018
 695    0.000018
Name: file_length, Length: 168, dtype: float64
- - - - - New Column Here- - - - - - -
-1     0.871350
 0     0.073414
 1     0.026197
 2     0.014370
 4     0.003457
 3     0.003036
 12    0.002439
 13    0.001263
 11    0.001000
 5     0.000895
 8     0.000825
 6     0.000474
 7     0.000351
 9     0.000333
 10    0.000316
 14    0.000246
 23    0.000018
 15    0.000018
Name: qty_dot_params, dtype: float64
- - - - - New Column Here- - - - - - -
-1     0.871350
 0     0.105664
 1     0.013283
 2     0.003053
 4     0.002965
 3     0.001527
 5     0.000561
 6     0.000351
 12    0.000211
 7     0.000193
 8     0.000175
 11    0.000105
 13    0.000088
 18    0.000053
 14    0.000053
 10    0.000053
 26    0.000035
 9     0.000035
 27    0.000035
 19    0.000035
 25    0.000035
 20    0.000018
 21    0.000018
 15    0.000018
 17    0.000018
 35    0.000018
 16    0.000018
 34    0.000018
 31    0.000018
Name: qty_hyphen_params, dtype: float64
- - - - - New Column Here- - - - - - -
-1     0.871350
 0     0.089592
 1     0.023600
 2     0.005597
 3     0.004474
 4     0.002474
 5     0.000737
 6     0.000649
 7     0.000298
 8     0.000281
 17    0.000263
 11    0.000140
 9     0.000140
 10    0.000123
 19    0.000105
 12    0.000070
 21    0.000035
 15    0.000035
 14    0.000018
 18    0.000018
Name: qty_underline_params, dtype: float64
- - - - - New Column Here- - - - - - -
-1     0.871350